* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inicio estilos logo */
.logo {
  animation: bounce-in-top 1s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.logo img {
  height: 150px;
}

/* fin estilos logo */
/* Inicio estilos Header */
header {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 5rem;
  justify-content: space-between;
}

/* Inicio estilos nav */
.navmenu {
  color: white;
  text-align: center;
  font-family: "bebas neue";
  font-size: 30px;
  font-weight: 600;
  gap: 1.5rem;
  letter-spacing: 2px;
}

.navlist {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navlist li a {
  text-decoration: none;
  color: white;
  gap: 1rem;
}

/* fin estilos Header */
/* Inicio estilos body */
body {
  background-image: url("../images/menublack1.png");
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin-bottom: 50px;
}
body .content {
  min-height: calc(100vh - 100px);
}

@font-face {
  font-family: "bebas neue";
  src: url("../fonts/bebasneue.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular.ttf");
  /* fin estilos body */
}
.descuento {
  color: white;
  font-family: "bebas neue";
  font-style: italic;
  font-size: 60px;
  text-align: left;
  padding: 25px 100px 25px 25px;
}

.transferencias {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  padding-left: 20px;
}

.menu-seccion {
  background-color: rgb(255, 153, 0);
}

h2 {
  color: black;
  font-family: "roboto";
  font-style: italic;
  font-size: 20px;
}

h3 {
  color: white;
  font-family: "roboto";
  font-style: italic;
  font-size: 30px;
}

p {
  font-size: 18px;
  color: black;
  font-style: italic;
}

.sobrenosotros {
  background-color: rgb(255, 153, 0);
}

.guias1 {
  background-color: black;
  color: white;
  padding: 5px;
}

.guias2 {
  background-color: black;
  color: white;
  padding: 5px;
}

.guias3 {
  background-color: black;
  color: white;
  padding: 5px;
}

.imagen1 {
  width: 350px;
  height: 250px;
}

.imagen2 {
  width: 350px;
  height: 250px;
}

.imagen3 {
  width: 350px;
  height: 250px;
}

.imagen4 {
  width: 350px;
  height: 250px;
}

.imagen5 {
  width: 350px;
  height: 250px;
}

.galeria {
  display: flex;
}

h4 {
  color: black;
  font-family: "roboto";
  font-style: italic;
  font-size: 15px;
}

.redessociales {
  display: flex;
}
.redessociales i {
  font-size: 100px;
  color: rgb(255, 153, 0);
  height: 100px;
  width: 900px;
  text-align: center;
}

.sorteos1 {
  width: 900px;
  height: 700px;
}

.sorteos2 {
  width: 900px;
  height: 700px;
}

.table-hover {
  background-color: black;
  border-color: white;
  color: white;
}

/* fin estilos main */
footer {
  padding: 0rem;
  padding-top: 0;
  position: relative;
  bottom: 0;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url(../images/promocionesfondo.png);
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

footer h2,
footer p {
  color: white;
}

.footer1 {
  display: flex;
  padding-block: 2rem;
}
.footer1 h2 {
  font-family: "bebas neue";
  font-size: 3rem;
}
.footer1 p {
  font-family: "roboto";
  font-style: italic;
  font-size: 1.5rem;
}
.footer1 div {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footermid {
  align-items: end;
}
.footermid p {
  font-size: 1.1rem;
  font-family: "roboto";
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

.footer2 {
  display: flex;
  justify-content: space-between;
}
.footer2 p {
  font-family: "bebas neue";
  font-size: 1.7rem;
}
.footer2 .iconosf {
  display: flex;
  gap: 0.5rem;
}
.footer2 i {
  color: white;
}

/* inicio main contacto */
.contactos {
  padding: 30px;
}
.contactos p {
  color: white;
}

.contactopa {
  color: white;
  font-family: "bebas neue";
  font-size: 30px;
  font-weight: 600;
}

.listaredes {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.listaredes p {
  font-family: "bebas neue";
  font-size: 1.3rem;
}

.redescontacto {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 70px;
  padding-left: 625px;
  justify-content: center;
  align-items: center;
}

.cconsulta {
  color: white;
  align-items: center;
}

.formulario {
  -moz-columns: white;
       columns: white;
}

.redescontacto {
  display: flex;
  justify-content: left;
}

.formularioc {
  padding: 40px;
}

/* fin main contacto*/
/* inicios estilos pagina delivery */
/* inicios dmain */
.sdelivery {
  color: white;
  font-family: "bebas neue";
  font-size: 30px;
  font-weight: 600;
}

.dsubtitulo {
  color: white;
  font-family: "bebas neue";
  font-style: italic;
  font-size: 25px;
}

.ddescripcion {
  color: white;
}

.delivery {
  color: white;
  font-family: "roboto";
  font-style: italic;
  font-size: 15px;
}

.serviciosdly {
  text-align: center;
}

.imagen7 {
  width: 250px;
  height: 250px;
}

.contenedordeli {
  display: flex;
  justify-content: center;
}

/* fin estilos pagina delivery */
/* menu seccion grilla*/
.grilla {
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 50px;
  padding-left: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.frentemenu {
  width: calc(50% - 30px);
  height: 70vh;
}

.dorsomenu {
  width: calc(50% - 30px);
  height: 70vh;
}

/* inicio estilos pagina nosotros */
/* inicio estilos main */
.titulonosotros {
  color: white;
  font-family: "bebas neue";
  font-size: 30px;
  font-weight: 600;
}

.subtitulonosotros {
  color: white;
  font-family: "bebas neue";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
}

.nosotros1 {
  color: white;
}

.ntext1 {
  color: white;
}

.ntext2 {
  color: white;
}

.ntext3 {
  color: white;
}

/* inicio main promos*/
.container {
  max-width: 45%;
  margin: auto;
  height: auto;
  margin-top: -100px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.somos {
  padding-top: 15px;
}

.titulonosotros {
  padding-left: 35px;
  font-size: 3rem;
}

.subtitulonosotros {
  padding-left: 35px;
  font-size: 2.7rem;
}

@media (max-width: 1573px) {
  .frentemenu {
    margin-left: 15px;
    width: 480px;
    height: 630px;
  }
  .dorsomenu {
    width: 480px;
    height: 630px;
    margin-right: 15px;
  }
}
@media (max-width: 1056px) {
  .grilla {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }
  .container {
    margin-top: -95px;
    max-width: 450px;
    margin: auto;
    height: auto;
  }
}
@media (max-width: 928px) {
  .navlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    justify-items: center;
  }
  .redescontacto {
    padding-left: 125px;
  }
  .somos {
    margin-top: 50px;
  }
}
@media (max-width: 680px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .imagen {
    width: 100%;
    height: 100%;
  }
  .somos {
    margin-top: 50px;
  }
}
@media (max-width: 530px) {
  .sorteos1 {
    width: 100%;
  }
  .sorteos2 {
    width: 100%;
  }
  .navlist {
    grid-template-columns: 1fr;
    gap: 0;
    font-size: 15px;
    padding-bottom: 15px;
  }
  .redescontacto {
    padding-left: 50px;
    gap: 3px;
  }
  .container {
    margin-top: -90px;
  }
}/*# sourceMappingURL=estilos.css.map */