/* Inicio estilos body */
body {
    background-image: url("../images/menublack1.png");
    display:flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
    .content{
        min-height: calc(100vh - 100px);
    }




}

@font-face {
    font-family: "bebas neue";
    src: url("../fonts/bebasneue.ttf");

}

@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto-regular.ttf");
/* fin estilos body */    
}