/* Inicio estilos body */
body {
    background-image: url("/images/menublack.png");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "bebas neue";
    src: url("../fonts/bebasneue.ttf");

}

@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto-regular.ttf");
/* fin estilos body */    
}