/* inicio main contacto */
.contactos{
    padding: 30px;

    p{color: white;
        font-family: "roboto";
        font-style: italic;
        font-size: 1.5rem;
    }

    h2 {
        color: white;  
        font-family: "bebas neue";
        font-size: 2.5rem;
        font-weight: 600; 
    }
}

.listaredes {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "roboto";
    font-style: italic;
    list-style: none;

    p{
        font-family: "bebas neue";
        font-size: 1.3rem;
    }
}

.cconsulta { 
    color: white;
  align-items:center;
}

.formulario{
    columns: white;
}

.redescontacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px; 
    margin-bottom: 50px; 
}
.redescontacto img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Mantiene la proporción */
}

.formularioc{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* fin main contacto*/
