/* inicio main contacto */
.contactos{
    padding: 30px;

    p{color: white;
        font-family: "roboto";
        font-style: italic;
        font-size: 1.5rem;
    }

    h2 {
        color: white;  
        font-family: "bebas neue";
        font-size: 2.5rem;
        font-weight: 600; 
    }
}

.listaredes {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "roboto";
    font-style: italic;
    list-style: none;

    p{
        font-family: "bebas neue";
        font-size: 1.3rem;
    }
}
.redescontacto{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding-bottom: 70px;
    padding-left: 625px;
    justify-content: center;
    align-items: center;
}
.cconsulta { 
    color: white;
  align-items:center;
}

.formulario{
    columns: white;
}

.redescontacto { 
    display: flex;
    justify-content: left;
}


.formularioc{
    padding: 40px;
}
/* fin main contacto*/
