/* inicios estilos pagina delivery */
/* inicios dmain */
.sdelivery{
    color: white;
    font-family: "bebas neue";
    font-size: 30px;
    font-weight: 600;
}
.dsubtitulo{
    color: white;
    font-family: "bebas neue";
    font-style: italic;
    font-size: 25px;
}
.ddescripcion{
    color: white;
}
.delivery {
    color: white;
    font-family: "roboto";
    font-style: italic;
    font-size: 15px;
}
.serviciosdly{
text-align: center;
}

.imagen7{
    width: 250px;
    height: 250px;
}
.contenedordeli{
    display: flex;
    justify-content: center;
}
/* fin estilos pagina delivery */