@media (max-width: 1573px){

    
    .frentemenu{
        margin-left: 15px;
        width: 480px;
        height: 630px;
       
    }
    
    .dorsomenu{
        width: 480px;
        height: 630px;
        margin-right: 15px;
    
    }
}
@media (max-width: 1056px){
    .grilla {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 928px){
    .navlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 50px;
        justify-items: center;

    }
    .redescontacto {
        padding-left: 125px;
    }
}
@media (max-width: 680px){
      .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .imagen{
        width: 100%;
        height: 100%;
      }
}
@media (max-width: 530px){
       .sorteos1{
        width: 100%;
       }
       .sorteos2{
        width: 100%;
       }
    .navlist{
        grid-template-columns: 1fr;
        gap: 0;
        font-size: 15px;
        padding-bottom: 15px;
    }
    .redescontacto {
        padding-left: 50px;
        gap: 3px;
        
    }
}

