@media (max-width: 1573px){
    .grilla{
        display: flex;
        flex-direction: column;
    .dorsomenu{
        justify-content: center;
    }

    }
}

@media (max-width: 877px){
    .navlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 50px;
        justify-items: center;

    }

}
@media (max-width: 680px){
      .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .imagen{
        width: 100%;
        height: 100%;
      }
}
