/* menu seccion grilla*/

.grilla{
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.frentemenu{
    width: calc(50% - 30px);
    height: 70vh;
}

.dorsomenu{
    width: calc(50% - 30px);
    height: 70vh;
    
}

