/* inicio main promos*/
.container {
    max-width: 45%;
    margin: auto;
    height: auto;
    margin-bottom: 50px;
}
  
.carousel-item img {
    max-width: 100%; 
    height: auto;
  }
 
.somos {
    padding-top: 15px;
    
}  

.titulonosotros{
    padding-left: 35px;
    font-size: 3rem;
}

.subtitulonosotros{
    padding-left: 35px;
    font-size: 2.7rem;
}