/* inicio main promos*/

.imagen8 { 
    height: 550px;
    width: 475px;
}
.imagen9 { 
    height: 550px;
    width: 475px;
}
.imagen10 { 
    height: 550px;
    width: 475px;
}
.imagen11 { 
    height: 550px;
    width: 475px;
}

/* fin main promos*/

.table-hover {
    background-color: black;
    border-color: white;
    color: white;
}