/* inicio estilos pagina nosotros */

/* inicio estilos main */
.titulonosotros {

    color: white;
    font-family: "bebas neue";
    font-size: 30px;
    font-weight: 600;
}

.subtitulonosotros {
    color: white;
    font-family: "bebas neue";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 100px;
}

.nosotros1 {
    color: white;
}

.ntext1{
    color: white;
}
.ntext2{
    color: white;
}
.ntext3{
    color: white;
}